.h-primary {
  font-family: "Bree Serif", serif;
  font-size: 4.8rem;
  padding: 12px;
  text-align: center;
}
#services {
    margin: 34px;
    display: flex;
  
  }
  
  #services .box {
    border: 4px solid brown;
    padding: 17px;
    margin: 4px 12px;
    border-radius: 28px;
    background-color: #ffeeee;
  
  }
  
  #services .box img {
    height: 200px;
    margin: auto;
    display: block;
  
  }
  
  #services .box p {
    font-family: "Bree Serif", serif;
  }
  
  .btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
  }
               /* SERVICES 1*/
  #services1 {
    margin: 34px;
    display: flex;
  
  }
  
  #services1 .box {
    border: 4px solid #ff0063;
    padding: 17px;
    margin: 4px 12px;
    border-radius: 28px;
    background-color: #e2d9d9;
  
  }
  
  #services1 .box img {
    height: 200px;
    margin: auto;
    display: block;
  
  }
  
  #services1 .box p {
    font-family: "Bree Serif", serif;
  }
                   /* SERVICES 2*/
  #services2 {
    margin: 34px;
    display: flex;
  
  }
  
  #services2 .box {
    border: 4px solid #ff5602;
    padding: 34px;
    margin: 10px 9px;
    border-radius: 28px;
    background-color: #f1fff5;
  
  }
  
  #services2 .box img {
    height: 200px;
    margin: auto;
    display: block;
  
  }
  
  #services3 .box p {
    font-family: "Bree Serif", serif;
  }
                           /* SERVICES 3*/
  #services3 {
    margin: 34px;
    display: flex;
  
  }
  
  #services3 .box {
    border: 4px solid #365752;
    padding: 17px;
    margin: 4px 12px;
    border-radius: 28px;
    background-color: #e2d9d9;
  
  }
  
  #services3 .box img {
    height: 200px;
    margin: auto;
    display: block;
  
  }
  
  #services3 .box p {
    font-family: "Bree Serif", serif;
  }
  
  